*.iml
.gradle
.idea/
/libraries/opencv/build.gradle
/libraries/opencv/build/*
build.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/libraries/opencv/build